* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Titles */
h1 {
  text-align: center;
  font-family: "Khand", serif;
  font-size: 50px;
  font-style: normal;
  color: white;
  -webkit-text-stroke: 3px #2f6883;
}

/* h1 Title Container */
#title-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #88daf2;
  border-style: solid;
  border-color: #325dac;
  border-width: 10px;
  border-radius: 80px;
}

/* Header container styling */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;
  background-color: #6188ff;
  border-bottom-style: solid;
  border-width: 5px;
  border-bottom-color: #363636;
}

/* Stats containers in header */
.stats-container {
  background-color: #363636;
  width: 250px;
  height: 60px;
  border-radius: 80px;
}

/* Form styling */
#form-container {
  display: flex;
  flex-direction: column;
  background-color: #71a4f3;
  border-bottom-style: solid;
  border-width: 5px;
  border-bottom-color: #363636;
}

#form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#form-container form label {
  font-family: "Khand", serif;
  font-size: 30px;
}

#form-container form input {
  font-family: "Khand", serif;
  border-radius: 80px;
  border-style: solid;
  border-color: #325dac;
  padding: 10px;
  width: 200px;
  text-align: center;
}

/* Pokemon overview background image */
html {
  height: 100vh;
  background-image: linear-gradient(#7b9edd, #495cab 30% 80%, #7b9edd);
}

#overview-image-wrapper {
  background: repeating-linear-gradient(
    to bottom,
    #f5f7f3,
    #f5f7f3 50%,
    #c5e1f2 50%,
    #c5e1f2
  );
  background-size: 100% 20px;
  border-style: solid;
  border-width: 10px;
  border-color: #87bedc;
  border-radius: 10px;
  outline: 10px solid #f8e757;
}

/* Content wrapper for overview and pokemons */
#content-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 40px;
}

#overview-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  padding: 10px;
  width: 80%;
}

#pokemon-image {
  max-width: 100%;
  max-height: 100%;
}

#overview-section h2,
#overview-section p {
  font-family: "Khand", serif;
  font-weight: 500;
  color: black;
  padding: 10px;
  border-radius: 60px;
  width: fit-content;
}

#overview-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddb81a;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

#type-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#type-container p {
  padding: 0;
}

#type-container img {
  width: 50px;
  height: 50px;
}

#more-information {
  background-image: url("/assets/svg/icons/info.svg");
  height: 50px;
  width: 50px;
}

/* Pokemon List (Section) */
#pokemons h2 {
  font-family: "Khand", serif;
  font-weight: 400;
  color: white;
  text-align: center;
  background-color: #4178cb;
  border-radius: 80px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Pokemon list flex-box */
#pokemon-list {
  display: flex;
  flex-direction: column;
  height: 80vh;
  padding: 10px;
  gap: 5px;
  overflow-x: hidden;
  overflow-y: auto;
}

#pokemons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
  height: 100%;
}

/* Pokemon item */
.pokemon {
  display: flex;
  background-color: #fdebb9;
  padding: 0.5rem;
  justify-content: space-around;
  align-items: center;
  border-style: solid;
  border-color: #363636;
  border-width: 1px;
  width: 100%;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
}

/* Pokemon card text */
.pokemon p {
  font-family: "Khand", serif;
  font-weight: 400;
  font-size: large;
  color: black;
}

/* Pokemon image */
.pokemon img {
  /* border-radius: 5 */
}

/* Media query */
@media only screen and (max-width: 850px) {
  #content-wrapper {
    flex-direction: column;
    align-items: center;
  }
  #pokemons {
    width: 100%;
  }
  #header {
    flex-direction: column;
  }
  #title-container img {
    display: none;
  }
  #title-container {
    display: block;
    text-align: center;
  }
}
