* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Background Gradient */
html {
  height: 100vh;
  background-image: linear-gradient(#7b9edd, #495cab 30% 80%, #7b9edd);
}

#guess-pokemon-modal img {
  filter: contrast(0%) brightness(50%);
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
